@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');

body{background:rgb(230, 133, 230)}
#banner {
    background:rgb(247, 214, 237);
    height:150px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    font-family: 'Peddana, serif';

}
